<%- include('header'); -%>
    <div class = "content">
        <h1>Name</h1>
        <h3>Joe Caruso</h3>
        <br>
        <h1>Address</h1>
        <h3>District x; Street y; Flat z;</h3>
        <br>
        <h1>Phone</h1>
        <h3>123456789</h3>
        <br>
        <h1>Email</h1>
        <h3>jo_car@gmail.com</h3>
    </div>
<%- include('footer'); -%>